@use '@/styles/colors.scss' as *;

.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px 10px 38px;
  text-decoration: none;
  transition: background-color 0.2s;

  .label {
    color: $color_gray_soft;
    transition: color 0.2s;
  }

  .icon {
    color: $color_gray_soft;
    display: flex;
    align-items: center;
    transition: color 0.2s;
  }

  &:hover {
    background-color: $color_gray_ligth;

    .label,
    .icon {
      color: $color_blue_label;
    }
  }

  &.active {
    background-color: #fff;

    .label,
    .icon {
      color: $color_blue_label;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      bottom: 4px;
      width: 5px;
      background-color: $color_blue_label;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
