@use '@/styles/colors.scss' as *;

.wrapper {
  width: 100%;
}

.input {
  font-family: 'Inter', sans-serif;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 15px;
  background-color: $color_gray;
  width: 100%;

  &::placeholder {
    color: $color_blue_faint;
  }

  &:focus {
    outline: none;
    border-color: $color_blue_faint;
  }
}

.error {
  color: $color_red;
  font-size: 12px;
  padding-left: 14px;
}
