@use '@/styles/colors.scss' as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 255px;
}

.icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: $color_blue_pale;
  pointer-events: none;
}

.inputWithIcon {
  text-indent: 48px;
}
