$color_blue: #1814f3;
$color_blue_light: #4f4cf7;
$color_blue_dark: #343c6a;
$color_blue_faint: #8ba3cb;
$color_blue_pale: #718ebf;
$color_blue_label: #2d60ff;
$color_blue_high: #0a06f4;

$color_gray: #f5f7fa;
$color_gray_darcest: #808080;
$color_gray_dark: #f5f7fa65;
$color_gray_faint: #f5f7fa;
$color_gray_ligth: #e6eff5;
$color_gray_soft: #b1b1b1;

$color_white_shadowy: #d1d5db;
$color_white_normal: #ffffff;
$color_white_dark: #dfeaf2;

$color_green_light: #16dbcc;

$color_black: black;
$color_black_ligth: #232323;

$color_red: #ff0000;
