@use '@/styles/colors.scss' as *;

.header {
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(185, 145, 145, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border: 1px solid $color_gray_ligth;
}

.pageTitle {
  font-size: 28px;
  font-weight: 600;
  color: $color_blue_dark;
}

.rightContent {
  display: flex;
  align-items: center;
  gap: 12px;
}
